@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Semana1</h1>
    
</div>
<div class = "img-center">
<img src ="https://i.blogs.es/243371/the-batman-2022/1366_2000.jpeg"height = "700px"" width="900px"">
</div>
<div>
<p>lobo</p>
</div>




